<!DOCTYPE html>
<html lang="en">
  <head>
    {{ head }}
    <link href="/static/css/displays.css" rel="stylesheet">
    <title>Signage Server</title>
  </head>
  <body>
  
  {{ navbar_minimal }}

  <div class="container container-main">
    <div class="row">
      <div class="col text-center">
        <h3 class="page-title">Displays</h3>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card bg-light text-dark card-large text-center">
          <div class="card-body text-center" id="buttonCard"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Custom JS -->
  <script src="/static/js/displays.js" type="text/javascript"></script>
  
  </body>
</html>