@media (min-width: 768px) {
  .modal-xl {
    width: 90%;
   max-width:1200px;
  }
}

.navbar-custom {
    background-color: #264653;
}

.navbar-logo {
    height: 25px;
    padding-right: 10px;
}

.container-main {
    margin-top: 30px;
    margin-bottom: 30px;
}

.row-icon {
    height: 16px;
}

td {
  vertical-align: middle !important;
}

.btn-primary-custom {
    background-color: #2A9D8F;
    color: white;
}

.btn-secondary-custom {
    background-color: #b4bbc2;
    color: white;
}

.btn-danger-custom {
    background-color: #E76F51;
    color: white;
}

.alert {
    width: 100%;
    text-align: center;
    display: none;
}

.alert-success-custom {
    background-color: #2A9D8F;
    color: white;
}

.alert-warning-custom {
    background-color: #F4A261;
    color: white;
}

.alert-danger-custom {
    background-color: #E76F51;
    color: white;
}

.page-title {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.thumbnail {
    height: 60px;
    border: 1px solid #CCCCCC;
    cursor: pointer;
}

.playlist-thumb-div {
    padding: 0px;
    height: 30px;
    width: 30px;
    overflow: hidden;
}

.playlist-thumb {
    height: 30px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.no-sort-dt > thead > tr > th[class*="sort"]:before,
.no-sort-dt > thead > tr > th[class*="sort"]:after {
    content: "" !important;
}