<!-- Display Publish Modal -->
<div class="modal fade" id="displayPublishModal">
  <div class="modal-dialog">
    <div class="modal-content">
    
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Publish Content</h4>
        <button type="button" class="close" data-dismiss="modal" id="displayPublishModalX">&times;</button>
      </div>
      
      <!-- Modal body -->
      <div class="modal-body">
        <div class="container"> 
          <div class="row">
            <div class="col-sm-12">
              <label for="displayPublishContentName" class="control-label">Content Name: </label>
              <input type="text" id="displayPublishContentName" class="form-control typeahead" placeholder="Search">
            </div>
          </div>
        </div>
      </div>
      
      <!-- Modal footer -->
      <div class="modal-footer">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-8" style="text-align: right;">
              <button type="button" class="btn btn-secondary-custom" data-dismiss="modal" id="displayPublishModalClose">Close</button>
              <button type="button" class="btn btn-primary-custom" data-dismiss="modal" id="displayPublishModalSave" disabled="true">Publish</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>