    <nav class="navbar navbar-custom navbar-dark">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#"><img src="/static/icons/signage-server.svg" alt="Logo" class="navbar-logo">Signage Server</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="/admin/displays">
              <img src="/static/icons/settings.svg" alt="Admin" height="25px">
            </a>
          </li>
        </ul>
      </div>
    </nav>